In [1]:
# This notebook was not used to create the database on my computer.
# Use the .sql files in the sql-database folder to create the database

import pandas as pd
import pandas.io.sql as pd_sql
import psycopg2 as pg # needed for read_sql
from sqlalchemy import create_engine

# psychopg connection parameters
params = {'user': 'postgres', 'host': 'localhost', 'port': 5432, 'password': None}
connection = pg.connect(**params, dbname='sf_rent_petitions') # Connect

# sqlalchemy connection arguments
connection_str = f'postgres://postgres:{None}@localhost:5432/sf_rent_petitions'
engine = create_engine(connection_str)

In [8]:
def clean_column_names(df):
    df.columns = df.columns.str.strip().str.lower()
    df.columns = df.columns.str.replace('casanf0urn', 'unemployment_rate')
    return df

In [9]:
unemployment_df = pd.read_csv("~/data/stlouisfed/CASANF0URN.csv") # Import
unemployment_df = clean_column_names(unemployment_df)
unemployment_df.columns

Index(['date', 'unemployment_rate'], dtype='object')

In [12]:
unemployment_df.to_sql('unemployment', engine, index=True) # Create database

In [14]:
unemployment_df = pd_sql.read_sql("SELECT * FROM unemployment;", connection) # grab data as a dataframe
unemployment_df = unemployment_df.reset_index(drop=True)
unemployment_df.head()

   index        date  unemployment_rate
0      0  1990-01-01                3.7
1      1  1990-02-01                3.4
2      2  1990-03-01                3.2
3      3  1990-04-01                3.5
4      4  1990-05-01                3.5

In [16]:
# Check data types

cursor = connection.cursor()

cursor.execute(
"""
SELECT DATA_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE TABLE_NAME = 'unemployment';
"""
)

cursor.fetchall()

[('bigint',), ('text',), ('double precision',)]

In [17]:
unemployment_date_df = pd_sql.read_sql("SELECT date FROM unemployment;", connection) # grab data as a dataframe
unemployment_date_df = unemployment_date_df.reset_index(drop=True)
unemployment_date_df.head()

         date
0  1990-01-01
1  1990-02-01
2  1990-03-01
3  1990-04-01
4  1990-05-01

In [19]:
type(unemployment_date_df.date[0])

str