In [1]:
# This notebook was not used to create the database on my computer.
# Use the .sql files in the sql-database folder to create the database

import pandas as pd
import pandas.io.sql as pd_sql
import psycopg2 as pg # needed for read_sql
from sqlalchemy import create_engine

# psychopg connection parameters
params = {'user': 'postgres', 'host': 'localhost', 'port': 5432, 'password': None}
connection = pg.connect(**params, dbname='sf_rent_petitions') # Connect

# sqlalchemy connection arguments
connection_str = f'postgres://postgres:{None}@localhost:5432/sf_rent_petitions'
engine = create_engine(connection_str)

In [2]:
def clean_column_names(df):
    df.columns = df.columns.str.strip().str.lower()
    df.columns = df.columns.str.replace('(', '_').str.replace(')', '_').str.replace(':', '_').str.replace('.', '_')
    df.columns = df.columns.str.replace(' ', '_')
    df.columns = df.columns.str.replace('___', '_').str.replace('__', '_')
    return df

In [3]:
petitions_df = pd.read_csv("~/data/sf-open-data/petitions-clean.csv") # Import
petitions_df = clean_column_names(petitions_df)
petitions_df.columns

Index(['date', 'address', 'latlong', 'zip_code', 'neighborhood_number',
       'neighborhood_name', 'sf_find_neighborhoods',
       'current_police_districts', 'current_supervisor_districts',
       'supervisor_district', 'filing_party',
       'ground_landlord_capital_improvement',
       'ground_landlord_comparable_rents',
       'ground_landlord_extension_of_time_for_capital_improvements',
       'ground_landlord_intent_to_withdraw_ellis_', 'ground_landlord_other',
       'ground_landlord_operating_&_maintenance',
       'ground_landlord_substantial_rehabilitation',
       'ground_landlord_costa-hawkins', 'ground_landlord_exemption',
       'ground_landlord_rules_and_regulations_section_1_21',
       'ground_landlord_rules_and_regulations_section_6_14',
       'ground_landlord_rules_and_regulations_section_6_15',
       'ground_landlord_sro_hotel_vistor_policy_petition',
       'ground_landlord_utility_passthrough_petition',
       'ground_landlord_owner_move-in_disability_determination',
       'ground_landlord_utility_passthrough_worksheet',
       'ground_landlord_non-comparable_rents',
       'ground_tenant_decrease_in_housing_services',
       'ground_tenant_failure_to_repair_and_maintain',
       'ground_tenant_passthrough_challenge', 'ground_tenant_summary_petition',
       'ground_tenant_unlawful_rent_increase',
       'ground_tenant_wrongful_eviction_report',
       'ground_tenant_section_8_tenancy',
       'ground_tenant_sro_hotel_vistor_policy_petition',
       'ground_tenant_rules_and_regulations_section_6_15',
       'ground_tenant_other', 'ground_tenant_utility_passhtrough_hardship',
       'ground_tenant_water_revenue_bond_passthrough_hardship',
       'ground_tenant_capital_improvement_passthrough_hardship_petition',
       'ground_tenant_wrongful_severance_of_housing_service',
       'ground_alternative_dispute_resolution', '_@computed_region_fyvs_ahh9',
       '_@computed_region_p5aj_wyqh', '_@computed_region_rxqg_mtj9',
       '_@computed_region_yftq_j783', '_@computed_region_bh8s_q3mv',
       'datetime', 'timestamp', 'latitude', 'longitude', 'petition_id_list',
       'petition_id_len'],
      dtype='object')

In [4]:
petitions_df.to_sql('petitions', engine, index=True) # Create database

In [5]:
petitions_df = pd_sql.read_sql("SELECT * FROM petitions;", connection) # grab data as a dataframe
petitions_df = petitions_df.reset_index(drop=True)
petitions_df.head()

,index,date,address,latlong,zip_code,neighborhood_number,neighborhood_name,sf_find_neighborhoods,current_police_districts,current_supervisor_districts,...,_@computed_region_p5aj_wyqh,_@computed_region_rxqg_mtj9,_@computed_region_yftq_j783,_@computed_region_bh8s_q3mv,datetime,timestamp,latitude,longitude,petition_id_list,petition_id_len
0,0,03/29/2019,100 Block Of Tiffany Avenue,"(37.74526077457311, -122.42122878627974)",94110.0,2.0,Bernal Heights,83.0,9.0,5.0,...,7.0,5.0,2.0,28859.0,2019-03-29,737147.0,37.745261,-122.421229,['T190501'],1
1,1,03/29/2019,100 Block Of Laguna Street,"(37.77227352032319, -122.42534894614477)",94102.0,9.0,Hayes Valley,27.0,4.0,11.0,...,9.0,11.0,7.0,28852.0,2019-03-29,737147.0,37.772274,-122.425349,"['L190451', 'L190450']",2
2,2,03/29/2019,800 Block Of Greenwich Street,"(37.80189640951875, -122.4132706352494)",94133.0,32.0,Russian Hill,107.0,6.0,3.0,...,1.0,10.0,3.0,308.0,2019-03-29,737147.0,37.801896,-122.413271,['T190536'],1
3,3,03/29/2019,2000 Block Of 45th Avenue,"(37.74835168769152, -122.50393869575339)",94116.0,35.0,Sunset/Parkside,39.0,10.0,7.0,...,8.0,3.0,1.0,29491.0,2019-03-29,737147.0,37.748352,-122.503939,['L190488'],1
4,4,03/29/2019,300 Block Of Page Street,"(37.773615083644295, -122.42653977279896)",94102.0,9.0,Hayes Valley,26.0,4.0,11.0,...,9.0,11.0,7.0,28852.0,2019-03-29,737147.0,37.773615,-122.426540,['E190473'],1

In [6]:
# Check data types

cursor = connection.cursor()

cursor.execute(
"""
SELECT DATA_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE TABLE_NAME = 'petitions';
"""
)

cursor.fetchall()

[('bigint',),
 ('text',),
 ('text',),
 ('text',),
 ('double precision',),
 ('double precision',),
 ('text',),
 ('double precision',),
 ('double precision',),
 ('double precision',),
 ('double precision',),
 ('text',),
 ('boolean',),
 ('boolean',),
 ('boolean',),
 ('boolean',),
 ('boolean',),
 ('boolean',),
 ('boolean',),
 ('boolean',),
 ('boolean',),
 ('boolean',),
 ('boolean',),
 ('boolean',),
 ('double precision',),
 ('boolean',),
 ('boolean',),
 ('boolean',),
 ('double precision',),
 ('boolean',),
 ('boolean',),
 ('boolean',),
 ('boolean',),
 ('boolean',),
 ('boolean',),
 ('boolean',),
 ('boolean',),
 ('boolean',),
 ('boolean',),
 ('boolean',),
 ('boolean',),
 ('boolean',),
 ('boolean',),
 ('boolean',),
 ('double precision',),
 ('double precision',),
 ('double precision',),
 ('double precision',),
 ('double precision',),
 ('text',),
 ('double precision',),
 ('double precision',),
 ('double precision',),
 ('text',),
 ('bigint',)]

In [8]:
petitions_date_df = pd_sql.read_sql("SELECT date FROM petitions;", connection) # grab data as a dataframe
petitions_date_df = petitions_date_df.reset_index(drop=True)
petitions_date_df.head()

         date
0  03/29/2019
1  03/29/2019
2  03/29/2019
3  03/29/2019
4  03/29/2019

In [10]:
type(petitions_date_df.date[0])

str